<header>
    <nav>
        <a href="/">Rapha1004</a>
        <a href="/project">Project</a>
        <a href="/about">About me</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<style>
    nav{
        display: flex;
        justify-content: flex-end;
    }
</style>