<div class="laDivDuMilieu">
    <div class="right">
        <h1>Hello,<br>
            I'm Raphaël 👋 </h1>
        <h2>Web developer and tech enjoyer </h2>
    </div>
    <img src="/src/pp.png" alt="">
</div>

<style>
    .laDivDuMilieu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>