<div class="landing">
    <div class="right">
        <h1>Hello,<br>
            I'm Raphaël 👋 </h1>
        <h2>Web developer and tech enjoyer </h2>
        <a href="/contact" class="contactBTN">Contact me</a>
    </div>
    <img src="/src/pp.png" alt="">
</div>

<style>
    .landing{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
        margin-top: 50px;
    }

    h1{
        font-size: 64px;
        margin-bottom: 14px;
    }

    h2{
        font-size: 24px;
        opacity: 70%;
        margin-bottom: 68px;
    }

    .contactBTN {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 269px;
        height: 84px;
        background-color: var(--main-color);
        text-align: center;
        font-size: 32px;
        color: white;
        border-radius: 8px;
    }
    .contactBTN:hover{
        background-color: var(--main-color-hover);
    }

</style>