<div class="landing">
    <div class="right">
        <h1>Hello,<br>
            I'm Raphaël <span class="emoticon">👋</span> </h1>
        <h2>Web developer and tech enjoyer </h2>
        <a href="/contact" class="contactBTN">Contact me</a>
    </div>
    <img src="/src/pp.png" alt="rapha1004's profil picture"  class="pp">
</div>

<style>
    .landing{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60vh;
        margin-top: 50px;
    }

    h1{
        font-size: 64px;
        margin-bottom: 14px;
    }

    h2{
        font-size: 24px;
        opacity: 70%;
        margin-bottom: 68px;
    }

    .contactBTN {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 269px;
        height: 84px;
        background-color: var(--main-color);
        text-align: center;
        font-size: 32px;
        color: white;
        border-radius: 8px;
    }
    .contactBTN:hover{
        background-color: var(--main-color-hover);
    }

    @media screen and (max-width: 785px) {
       .landing{
        flex-direction: column;
       }
       .pp{
        visibility: hidden;
       }
    }
    @media screen and (max-width: 480px){
        h1{
            font-size: 54px;
        }

        h2{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 410px){
    h1{
        font-size: 44px;
    }

    h2{
        font-size: 14px;
    }
        
    }
</style>