<div class="stats">
    <div class="statscell">
        <p class="number">+1000</p>
        <p class="description">Code<br> commits</p>
    </div>
    <div class="statscell">
        <p class="number">+30</p>
        <p class="description">Github<br> repositories</p>
    </div>
    <div class="statscell">
        <p class="number">+∞</p>
        <p class="description">Dev <br>skills</p>
    </div>
</div>

<style>
    .stats{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .number{
        font-size: 42px;
        font-weight: 600;
    }
    .statscell{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .description{
        color: #777777;
    }

    @media screen and (max-width: 550px){
        .stats{
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
    }
</style>