<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        404
    </div>
    <h3>
        not found
    </h3>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        div{
            font-size: 50vw;
            color: #18A44C;
        }
        body{
            overflow: hidden;
        }
    </style>
</body>
</html>