<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/src/pp.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Raphael • web developer</title>
</head>
<body>
    <%- include('partials/header') %>
    <center><h1>About me</h1></center>
    <main>
        <div class="section1">
            <h2>A bit about me</h2>
            <p>Hi, I'm Raphaël, a 15-year-old web developer and tech enthusiast. Since 3 years, I’ve been exploring the world of web development, creating efficient and user-friendly applications. My passion lies in solving challenges through code, whether it’s front-end design or back-end functionality. I'm always looking to learn new tools and improve my skills with each project I take on.
                Let’s connect and build something awesome together</p>
        </div>
        <div class="section2">
            <h2>Technologies and Tools</h2>
            <p>I'm comfortable working with a variety of technologies, and I'm always expanding my toolkit.</p>
        </div>

        <div class="container">
            <div class="container-child">
                <img src="/src/tools/firebase-icon.png" alt="">
                <p id="tool-name">firebase</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/express-icon.png" alt="">
                <p id="tool-name">Express</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/html-icon.png" alt="">
                <p id="tool-name">HTML</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/css-icon.png" alt="">
                <p id="tool-name">CSS</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/git-icon.png" alt="">
                <p id="tool-name">Git</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/javascript-icon.png" alt="">
                <p id="tool-name">Javascript</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/nodejs-icon.png" alt="">
                <p id="tool-name">NodeJS</p>
            </div>
            <div class="container-child">
                <img src="/src/tools/sass-icon.png" alt="">
                <p id="tool-name">Sass</p>
            </div>
        </div>
    </main>
</body>
</html>