@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sixtyfour+Convergence&display=swap');

:root{
    --main-color: #18A44C;
    --main-color-hover: #14803B;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

