@keyframes aparitionTitre {
    from{
        visibility: hidden;
        top: -4%;
    }
    to{
        visibility: visible;
        top: 144px
    }
}

@keyframes  apparitionImg {
    from{
        visibility: hidden;
        left: 100%;
    }
    to{
        visibility: visible;
        left: 60.969%;
    }
}

@keyframes  description {
    from{
        left: -30.828%;
    }
    to{
        visibility: visible;
        left: 27.828%;
    }
}

@keyframes icone {
    from{
        left: -10%;
    }
    to{
        left: 27.828%;
    }
}

@keyframes line {
    from{
        width: 0%;
    }
    to{
        width: 79.063%;
    }
}
@keyframes work {
    from{
        left: 110%;
    }
    to{
        left: 50%;
    }
}

@keyframes home {
    from{
        top: -20px;
    }
    to{
        top: 20px;
    }
}

@keyframes grille {
    from{
        top: 150%;
    }
    to{
        top: 880.65px;
    }
}

@keyframes contactbtn{
    from{
        left: -154px;
    }
    to{
        left: 27.828%
    }
}

@keyframes barrelRoll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}