@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import './animation';


*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
  }

#landing{

    #coucou{
        animation: coucou 4s;
    }

    #prout-song{
        width: 0px;
        height: 0px;
    }
    
    
    #menubutton{
        animation: home 1s;
    z-index: 1;
    position: fixed;
    width: 61px;
    height: 24px;
    left: 30px;
    top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
    }

    #title{
    animation: aparitionTitre 3s;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 144px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 3.33vw;
    }

    .description {
        animation: description 3s;
        position: absolute;
        left: 27.828%;
        top: 381px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 2.2vw;
        line-height: 44px;
      }
      
      


    #titre-img{
    animation: apparitionImg 3s;
    position: absolute;
    left: 60.969%;
    top: 250px;
    }

    #contactbtn{
    animation: contactbtn 2.5s;
    position: absolute;
    width: 139.61px;
    height: 24.84px;
    left: 27.828%;
    top: 550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

    position: absolute;
    width: 154px;
    height: 39px;
    border: none;

    background: #18A44C;
    border-radius: 7px;

       
    }
    #contactbtn:hover{
        cursor: pointer;
        background: green; 
    }

}

#line{
    animation: line 2s;
    position: absolute;
width: 79.063%;
height: 3px;
left: 50%;
top: 748.95px;
transform: translate(-50%, -50%);
background: #D9D9D9;
}


#work{
animation: work 2s;
position: absolute;
left: 50%;
top: 790.3px;
transform: translate(-50%, -50%);
font-family: 'Inter';
font-size: 3.33vw;
color: #000000;

}

.grid{
    animation: grille 4s;
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 80px;
    position: absolute;
    left: 56px;
    top: 880.65px;

    .grid-item{
        width: 336px;
        height: 448px;
        box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.25);
        border-style: solid;
    }

    .gridimg{
        width: 336px;
        height: 312px;


    }
    .titregrid{
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    }

    .btngrid{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;

    border: none;
    width: 154px;
    height: 39px;
    background: #18A44C;
    border-radius: 7px;
    }
    .descriptiontitre{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;

    }
}

.link-grid{
        animation: icone 2s;
        position: absolute;
        left: 27%;
        top: 450px;
        width: 50%;
        height: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 30px);
        grid-gap: 10px;

        .link-icone{
            width: 25px;
            height: 25px;
        }

        #discord{
            cursor: pointer;
        }
    }


    @media screen and (max-width: 908px){
        #landing{
            #title{
                animation: none;
            }
        
        #titre-img{
            animation: none;
            transform: translate(-50%, -50%);
            position: absolute;
            left: 50%;
            top: 260px;
        }
    
        .description{
            animation: none;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 319px;
            height: 126px;
            left: 60%;
            top: 473px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 4vw;
            line-height: 44px;
    
            color: #000000;
    
        }
    
        #contactbtn{
        animation: none;
        left: 50%;
        top: 550px;
        transform: translate(-50%, -50%);
        }
        }
        
        .grid{
            animation: none;
            width: auto;
            height: auto;
            margin: 0px auto;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-gap: 80px;
            position: absolute;
            left: 10px;
            top: 747.65px;
        
            .grid-item{
                width: 336px;
                height: 448px;
                box-shadow: 4px 5px 5px 3px rgba(0, 0, 0, 0.25);
                border-style: solid;
            }
        
            .gridimg{
                width: 336px;
                height: 312px;
        
        
            }
            .titregrid{
            
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            }
        
            .btngrid{
                cursor: pointer;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;
            
                color: #FFFFFF;
            
                border: none;
                width: 154px;
                height: 39px;
                background: #18A44C;
                border-radius: 7px;
                }
                .descriptiontitre{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                color: #5C5C5C;
            
                }
        }
    
        #menubutton{
            visibility: hidden;
        }
    
        .link-grid{
            animation: none;
            position: absolute;
            left: 27%;
            top: 500px;
            margin-left: 30px;
            max-width: 1300px;
            width: 50%;
            height: auto;
            display: grid;
            justify-content: center;
            grid-gap: 10px;
        }
    
        #line{
            animation: none;
            position: absolute;
        width: 79.063%;
        height: 3px;
        left: 50%;
        top: 668.95px;
        transform: translate(-50%, -50%);
        background: #D9D9D9;
        }
        
        
        #work{
        animation: none;
        position: absolute;
        left: 50%;
        top: 708.3px;
        transform: translate(-50%, -50%);
        font-family: 'Inter';
        font-size: 3.33vw;
        color: #000000;
        
        }
    }
    
    
